/*reset*/
* {
	margin: 0;
	padding: 0;
}

/*
index.html
*/

/*头部*/
header {
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #522a5c;
}

.header-wrapper {
	width: 980px;
	height: 40px;
	position: relative;
	top: 40px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #000;*/
}

.logo span {
	font: 28px "Century Gothic";
	color: #fff;
}

.top-nav {
	position: absolute;
	right: 0;
	bottom: 10px;
}

.top-nav>li {
	float: left;
	list-style-type: none;	
}

.top-nav>li>a {
	font-size: 14px;
	line-height: 14px;
	margin-left: 28px;
	color: #fff;
	text-decoration: none;
}

.github {
	position: absolute;
	right: 10px;
	bottom: 0;
}

/*banner*/
.banner {
	background: url(../img/banner-bg.jpg);
	width: 100%;
	height: 600px;
}

/*.banner img {
	width: 100%;
	height: 100%;
}*/

.summary-wrapper {
	position: relative;
	width: 980px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #fff;*/
}

.summary {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 340px;
	height: 80px;
	padding: 10px 10px 30px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%); 
	color: #fff;
}

.summary h4 {
	font-size: 14px;
	text-align: right;
}

.summary p {
	margin-top: 12px;
	font-size: 12px;
	line-height: 1.5;
	text-indent: 2em;
}

/*主体*/
.main {
	width: 100%;
	height: 500px;
	background-color: #eee;
}

.main-wrapper {
	width: 980px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
}

.main-wrapper .blog-column {
	float: left;
	width: 320px;
	height: 360px;
	margin-top: 10px;
	background-color: #fff;
}

.main-wrapper>div+div {
	margin-left: 10px;
}

.main-wrapper .screenshot {
	margin: 10px;
}

.main-wrapper .content {
	margin: 5px 30px 25px;
	font-size: 12px;
	text-indent: 2em;
	line-height: 1.7;
	max-height: 120px;
	overflow: hidden;
}

/*自我介绍*/
.intro {
	width: 100%;
	height: 500px;
	margin-top: 100px;
	background-color: #fff;
}

.intro-wrapper {
	width: 680px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.intro-wrapper .avatar {
	text-align: center;
}

.intro-wrapper .avatar img {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	margin-top: -50px;
}

.intro-wrapper .info {
	margin-top: 50px;
}

.intro-wrapper .info h4{
	font: 20px "Century Gothic";
	text-align: center;
}

.intro-wrapper .info p {
	margin-top: 30px;
	font-size: 14px;
	line-height: 1.6;
	text-indent: 2em;
}

/*页尾*/
footer {
	width: 100%;
	height: 360px;
	background-color: #000;
	text-align: center;
}

.bottom-nav {
	display: inline-block;
	margin: 10px 0;
}

.divider {
	height: 1px;
	background-color: #ccc;
}

.bottom-nav>li {
	float: left;
	list-style-type: none;	
}

.bottom-nav>li>a {
	font-size: 14px;
	line-height: 14px;
	margin: 0 14px;
	color: #fff;
	text-decoration: none;
}

.hotlink {
	width: 960px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-size: 12px;
}

.hotlink dl {
	float: left;
	margin: 0 70px;
}

.hotlink a {
	color: #fff;
	text-decoration: none;
}

.hotlink a:hover{
	text-decoration: underline;
}

.hotlink dt {
	line-height: 3;
}

.hotlink dd {
	line-height: 1.8
}

.copy-right {	
	margin-top: 25px;
	font-size: 12px;
	color: #fff;
}

.copy-right p {
	margin-bottom: 15px;
}


/*
blog.html
*/

.blog .main {
	height: 1350px;
}

.blog .main-wrapper {
	position: relative;
	height: 1200px;
	padding-top: 20px;
}

/*main左侧*/
.blog .left {
	position: absolute;
	width: 710px;
	height: 1138px;
}

.article-list {
	width: 710px;
	height: 100%;
}
/*文章*/
.article {
	position: relative;
	width: 680px;
	height: 329px;
	margin-bottom: 10px;
	padding: 20px 15px;
	background-color: #fff;
}

.article h4 {
	font-size: 16px;
	color: #a660b7;
}

.article h5 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 1.8;
	color: #666;
}

.article p {
	font-size: 12px;
	line-height: 1.8;
	text-indent: 2em;
}

.article-info {
	position: absolute;
	bottom: 15px;
	right: 20px;
}

.article-info span {
	font-size: 12px;
	color: #999;
}

.article-date, .article-tag {
	position: absolute;
	left: -50px;
	width: 50px;
	height: 40px;
	text-align: center;
}

.article-date {
	top: 20px;
	background-color: #522a5c;
}

.article-tag {
	top: 60px;
	background-color: #a660b7;
}

.article-date span, .article-tag span {
	color: #fff;
	line-height: 40px;
}

.pagination {
	width: 582px;
	height: 36px;
	margin: 10px auto 0;
}

.pagination li {
	list-style-type: none;
	float: left;
	font-size: 12px;
	height: 36px;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 36px;
	text-align: center;
}

.pagination li a {
	text-decoration: none;
	color: #000;
}

.l-pager {
	width: 70px;
	background-color: #fff;
}

.m-pager {
	width: 52px;
	background-color: #fff;
}

.s-pager {
	width: 40px;
	background-color: #fff;
}

.selected {
	background-color: #a660b7;
	color: #000;
}

.disabled a {
	color: #999 !important;
}

.blog .right {
	margin-left: 720px;
	width: 260px;
	height: 100%;	
}

.blog .search, .blog .categories, .blog .calendar, .blog .tags {
	background-color: #fff;
}

.blog .search {
	height: 80px;	
}

.blog .categories {
	height: 200px;
	margin-top: 10px;
}

.blog .calendar {
	height: 240px;
	margin-top: 10px;
}

.blog .tags {
	height: 200px;
	margin-top: 10px;
}