/*reset*/
* {
	margin: 0;
	padding: 0;
}

/*
index.html
*/

/*头部*/
header {
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #522a5c;
}

.header-wrapper {
	width: 980px;
	height: 40px;
	position: relative;
	top: 40px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #000;*/
}

.logo span {
	font: 28px "Century Gothic";
	color: #fff;
}

.top-nav {
	position: absolute;
	right: 0;
	bottom: 10px;
}

.top-nav>li {
	float: left;
	list-style-type: none;	
}

.top-nav>li>a {
	font-size: 14px;
	line-height: 14px;
	margin-left: 28px;
	color: #fff;
	text-decoration: none;
}

.github {
	position: absolute;
	right: 10px;
	bottom: 0;
}

/*banner*/
.banner {
	background: url(../img/banner-bg.jpg);
	width: 100%;
	height: 600px;
}

/*.banner img {
	width: 100%;
	height: 100%;
}*/

.summary-wrapper {
	position: relative;
	width: 980px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #fff;*/
}

.summary {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 340px;
	height: 80px;
	padding: 10px 10px 30px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%); 
	color: #fff;
}

.summary h4 {
	font-size: 14px;
	text-align: right;
}

.summary p {
	margin-top: 12px;
	font-size: 12px;
	line-height: 1.5;
	text-indent: 2em;
}

/*主体*/
.main {
	width: 100%;
	height: 500px;
	background-color: #eee;
}

.main-wrapper {
	width: 980px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
}

.main-wrapper .blog-column {
	float: left;
	width: 320px;
	height: 360px;
	margin-top: 10px;
	background-color: #fff;
}

.main-wrapper>div+div {
	margin-left: 10px;
}

.main-wrapper .screenshot {
	margin: 10px;
}

.main-wrapper .content {
	margin: 5px 30px 25px;
	font-size: 12px;
	text-indent: 2em;
	line-height: 1.7;
	max-height: 120px;
	overflow: hidden;
}

/*自我介绍*/
.intro {
	width: 100%;
	height: 500px;
	margin-top: 100px;
	background-color: #fff;
}

.intro-wrapper {
	width: 680px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.intro-wrapper .avatar {
	text-align: center;
}

.intro-wrapper .avatar img {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	margin-top: -50px;
}

.intro-wrapper .info {
	margin-top: 50px;
}

.intro-wrapper .info h4{
	font: 20px "Century Gothic";
	text-align: center;
}

.intro-wrapper .info p {
	margin-top: 30px;
	font-size: 14px;
	line-height: 1.6;
	text-indent: 2em;
}

/*页尾*/
footer {
	width: 100%;
	height: 360px;
	background-color: #000;
	text-align: center;
}

.bottom-nav {
	display: inline-block;
	margin: 10px 0;
}

.divider {
	height: 1px;
	background-color: #ccc;
}

.bottom-nav>li {
	float: left;
	list-style-type: none;	
}

.bottom-nav>li>a {
	font-size: 14px;
	line-height: 14px;
	margin: 0 14px;
	color: #fff;
	text-decoration: none;
}

.hotlink {
	width: 960px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-size: 12px;
}

.hotlink dl {
	float: left;
	margin: 0 70px;
}

.hotlink a {
	color: #fff;
	text-decoration: none;
}

.hotlink a:hover{
	text-decoration: underline;
}

.hotlink dt {
	line-height: 3;
}

.hotlink dd {
	line-height: 1.8
}

.copy-right {	
	margin-top: 25px;
	font-size: 12px;
	color: #fff;
}

.copy-right p {
	margin-bottom: 15px;
}


/*
blog.html
*/

.blog .main {
	height: 1350px;
}

.blog .main-wrapper {
	position: relative;
	height: 1200px;
	padding-top: 20px;
}

/*main左侧*/
.blog .left {
	position: absolute;
	width: 710px;
	height: 1138px;
}

.article-list {
	width: 710px;
	height: 100%;
}
/*文章*/
.article {
	position: relative;
	width: 680px;
	height: 329px;
	margin-bottom: 10px;
	padding: 20px 15px;
	background-color: #fff;
}

.article h4 {
	font-size: 16px;
	color: #a660b7;
}

.article h5 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 1.8;
	color: #666;
}

.article p {
	font-size: 12px;
	line-height: 1.8;
	text-indent: 2em;
}

.article-info {
	position: absolute;
	bottom: 15px;
	right: 20px;
}

.article-info span {
	font-size: 12px;
	color: #999;
}

.article-date, .article-tag {
	position: absolute;
	left: -50px;
	width: 50px;
	height: 40px;
	text-align: center;
}

.article-date {
	top: 20px;
	background-color: #522a5c;
}

.article-tag {
	top: 60px;
	background-color: #a660b7;
}

.article-date span, .article-tag span {
	color: #fff;
	line-height: 40px;
}

/*pagination*/
.pagination {
	width: 582px;
	height: 36px;
	margin: 10px auto 0;
}

.pagination li {
	list-style-type: none;
	float: left;
	font-size: 12px;
	height: 36px;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 36px;
	text-align: center;
}

.pagination li a {
	text-decoration: none;
	color: #000;
}

.l-pager {
	width: 70px;
	background-color: #fff;
}

.m-pager {
	width: 52px;
	background-color: #fff;
}

.s-pager {
	width: 40px;
	background-color: #fff;
}

.page-selected {
	background-color: #a660b7;
}

.page-selected a {
	color: #fff !important;
}

.disabled a {
	color: #999 !important;
}

.blog .right {
	margin-left: 720px;
	width: 260px;
	height: 100%;	
}

.search, .categories, .calendar, .tags {
	background-color: #fff;
}

.search {
	height: 40px;
	width: 220px;
	padding: 20px;	
	text-align: center;
}

.search-box {
	width: 220px;
	height: 40px;
	border: 1px solid #ddd;
	text-align: left;
}

/* Search */

div.icon {
	float: left;
    height: 26px;
    width: 26px;
    position: relative;
    margin: 7px;
    overflow: hidden;
    display: inline-block;
}

.search-icon {
    height: 22px;
    width: 22px;
    background: transparent;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #ddd;
}

.search-icon:after {
    content: '';
    width: 1px;
    height: 15px;
    background: #ddd;
    position: absolute;
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 24px;
}

.search-input {
	float: left;
	margin-left: 10px;
	margin-top: 2px;
	height: 38px;
	width: 110px;
	border: none;
}

.search-input:focus {
	outline: none;
}

.search-btn {
	margin-left: 10px;
	width: 50px;
	height: 40px;
	border: none;
	background-color: #ddd;
	font: 20px "Century Gothic";
	line-height: 40px;
	color: #fff;
	cursor: pointer;
}

.search-btn:hover, .search-btn:focus {
	outline: none;
	background-color: #ccc;
}

/*categories*/
.categories {
	height: 200px;
	margin-top: 10px;
}

.categories ul {
	list-style-type: none;
}

.categories ul li {
	height: 49px;
	line-height: 49px;
	border-bottom: 1px solid #ddd;
	border-left: 4px solid #dfc6e6;
	padding-left: 20px;
	cursor: pointer;
}

.categories ul li a {
	font-size: 14px;
	color: #666;
	text-decoration: none;
}

.categories ul li:hover, .categories ul li:active {
	border-left: 4px solid #522a5c;
}

/*calendar*/
.calendar {
	width: 214px;
	height: 200px;
	margin-top: 10px;
	padding: 20px 23px;
	text-align: center;
}

.calendar-head {
	font-size: 14px;
	color: #773a86;
	font-weight: 900;
}

.calendar-head .month {
	display: inline-block;
	width: 150px;
}

.calendar table {
	border-collapse: collapse;
	margin-top: 10px;
}

.calendar tr {
	height: 28px;
	border-bottom: 1px solid #eee;
}

.calendar th, .calendar td {
	font-size: 12px;
	width: 30px;
	color: #999;
}

.calendar th {
	font-weight: 100;
}

.calendar .hasBlog {
	color: #773a86;
	font-weight: 900;
}

.calendar .selected {
	background-color: #773a86;
	color: #fff;
}

/*tags*/
.tags {
	height: 170px;
	width: 230px;
	padding: 15px;
	margin-top: 10px;
}

.tags h5{
	font-size: 15px;
	font-weight: 100;
	color: #666;
	margin-bottom: 10px;
}

.tags span {
	color: #773a86;
}

.tags .xxl {
	font-size: 32px;
	font-weight: 900;
}

.tags .xl {
	font-size: 22px;
	font-weight: 900;
}

.tags .l{
	font-size: 20px;
	font-weight: 900;
}

.tags .m {
	font-size: 18px;
	font-weight: 700;
}

.tags .s {
	font-size: 16px;
}

.tags .xs {
	font-size: 14px;
}

.tags .xxs {
	font-size: 12px;
}

/*
gallery.html
*/

.gallery .main {
	height: 1000px;
}

.gallery .main-wrapper {
	position: relative;
	height: 1000px;
	padding-top: 20px;
}

/*main左侧*/
.gallery .left {
	position: absolute;
	width: 710px;
	height: 900px;
}

.gallery .right {
	margin-left: 720px;
	width: 260px;
	height: 100%;	
}

.gallery .tabs {
	list-style-type: none;
	overflow: hidden;
	*zoom: 1;
}

.tabs li {
	float: left;
	background-color: #fff;
	border-right: 1px solid #eee;
}

.tabs label {
	display: block;
	height: 11px;
	line-height: 11px;
	padding: 15px 20px 20px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	font-size: 14px;
}

.tabs input[type="radio"] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.tab-all label {
	border-top: 4px solid #dcd9dd;
}

.tab-js label {
	border-top: 4px solid #dfc6e6;
}

.tab-ui label {
	border-top: 4px solid #d2a6ff;
}

.tab-fw label {
	border-top: 4px solid #ffa98c;
}

.tab-app label {
	border-top: 4px solid #ffe188;
}

.tabs [id^="tab"]:checked + label {
	border-bottom: none;
	height: 12px !important;
}

#tab1:checked + label {
	border-top-color: #522a5c;
}

#tab2:checked + label {
	border-top-color: #522a5c;
}

#tab3:checked + label {
	border-top-color: #5900b2;
}

#tab4:checked + label {
	border-top-color: #8c2300;
}

#tab5:checked + label {
	border-top-color: #d9a300;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/*common for tab-content*/

.color-j {
	background-color: #522a5c !important;
}

.color-u {
	background-color: #5900b2 !important;
}

.color-a {
	background-color: #d9a300 !important;
}

.color-f {
	background-color: #8c2300 !important;
}

.mt10 {
	margin-top: 10px;
}

.minus-mt10 {
	margin-top: -10px;
}

.minus-mt25 {
	margin-top: -25px;
}

.minus-mt45 {
	margin-top: -45px;
}

.minus-mt60 {
	margin-top: -60px;
}

.tab-content {
	display: none;
	position: absolute;
	left: 0;
	top: 51px;
	width: 680px;
	height: 640px;
	background-color: #fff;
	padding: 20px 15px;
}

.tab-content>div {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.tab-content img {
	display: block;
}

.tab-content>div>div {
	padding: 10px 15px;
}

.tab-content span {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #fff;
	border-radius: 13px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.tab-content h4 {
	position: absolute;
	left: 55px;
	display: inline-block;
	font-size: 14px;
	font-weight: 100;
	color: #fff;
}

.tab-content p {
	line-height: 1.6;
	margin-top: -5px;
	margin-left: 40px;
	font-size: 12px;
	color: #fff;
}

.box-l {
	width: 330px;
	height: 220px;
}

.box-l>div {
	position: relative;
	height: 50px;
}

.box-s {
	width: 160px;
	height: 205px;
}

.box-s>div {
	position: relative;
	height: 85px;
}

.box-xs {
	width: 160px;
	height: 185px;
}

.box-xs>div {
	position: relative;
	height: 65px;
}

.box-xxs {
	width: 160px;
	height: 165px;
}

.box-xxs>div {
	position: relative;
	height: 45px;
}


.box-m {
	width: 160px;
	height: 255px;
}

.box-m>div {
	position: relative;
	height: 135px;
}

.fir-col {
	position: absolute;
	top: 250px;
}

.sec-col {
	position: absolute;
	top: 250px;
	left: 185px;
}

.more {
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 690px;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
}

.more .icon {
	position: absolute;
	float: none;
	width: 30px;
	height: 30px;
	margin-top: 12px;
}

.icon .pointer-up, .icon .pointer-down {
    width: 10px;
    height: 10px;
    border: solid #ccc;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: 1px 0 -7px 8px;
}

.more span {
	margin-left: 40px;
	font-size: 12px;
	line-height: 50px;
	color: #666;
}

/*rank*/
.rank {
	height: 210px;
	width: 230px;
	padding: 15px;
	margin-top: 10px;
	background-color: #fff;
}

.rank h5{
	font-size: 15px;
	font-weight: 100;
	color: #666;
	margin-bottom: 20px;
}

.rank-item {
	margin-bottom: 10px;
}

.rank-item .bars {
	display: inline-block;
	margin-left: 10px;
	width: 100px;
	height: 16px;
	border: 1px solid #522a5c;
}

.rank-item .rank-no {
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;	
	border-radius: 10px;
	background-color: #522a5c;
	color: #fff;
	text-align: center;
	font-size: 13px;
}

.rank-item .bars div {
	height: 100%;
	background-color: #522a5c;
}

.bars .first {
	width: 100%;
}

.bars .second {
	width: 85%;
}

.bars .third {
	width: 65%;
}

.bars .forth {
	width: 40%;
}

.bars .fifth {
	width: 25%;
}

.rank-item .item-name {
	position: relative;
	left: 5px;
	top: -5px;
}

/*
about.html
*/

.about .main {
	height: 1400px;
}

.about .main-wrapper {
	position: relative;
	top: 100px;
	height: 1250px;
	background-color: #fff;
}

.main-divider {
	width: 10px;
	height: 100%;
	position: absolute;
	left: 485px;
	background-color: #eee;
}

.contact-img, .edu-img, .work-img {
	position: absolute;
    top: 280px;
    left: -55px;
    width: 120px;
    height: 120px;
    background: #eee;
    text-align: center;
    border-radius: 80px;
}

.contact-img img, .edu-img img, .work-img img {
	margin-top: 10px;
	border-radius: 80px;
}

.edu-img {
	top: 520px;
}

.work-img {
	top: 890px;
}

.edu-year, .work-year {
	position: absolute;
    top: 680px;
    left: -32px;
    width: 60px;
    height: 25px;
    text-align: center;
    border: 5px solid #eee;
    border-radius: 5px;
    color: #666;
    line-height: 25px;
    background-color: #fff;
}

.mt60 {
	margin-top: 60px;
}

.mt135 {
	margin-top: 135px;
}

.mt375 {
	margin-top: 375px;
}

.mt450 {
	margin-top: 450px;
}

.about .avatar {
	position: absolute;
	left: 390px;
	top: -60px;
	width: 180px;
	height: 180px;
	background-color: #eee;
	border-radius: 100px;
	text-align: center;
}

.about .avatar img {
	width: 160px;
	height: 160px;
	border-radius: 100px;
	margin-top: 10px;
}

.about .basic {
	position: relative;
	top: 150px;
}

.main-left {
	width: 400px;
	text-align: right;
	float: left;
	font-size: 20px;
}

.main-right {
	width: 390px;
	float: left;
	margin-left: 130px;
	font-size: 14px;
	line-height: 1.8;
}

.about .contact, .about .edu, .about .work {
	position: relative;
	width: 100%;
	overflow: hidden;
	zoom: 1;
}

.about .contact {
	position: relative;
	top: 320px;
}

.about .edu {
	position: relative;
	top: 510px;
}

.about .work {
	position: relative;
	top: 700px;
}